# =============== #
# Unity generated #
# =============== #

Temp/
Obj/
UnityGenerated/
Library/
Assets/Dynamic Sword Animset/*
Built/
xCode/
Assets/PolygonDungeon/*
Assets/ProBuilder Data/*
Assets/Raw Mocap Data/*
Assets/RPG Character Animation Pack/*
Assets/PostProcessing/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.apk